body {
    text-align: center;
    font-size: 0.9em;
    margin-left: 30px;
    margin-right: 30px;
    border: 3px solid green;
}

header {
    padding: 10px;
    color: white;
}

section {
    font-family: 'Bellefair', serif;
    margin: 5px;
    padding: 10px;

}

img {
    height: 100px;
    width: 100px;
    border-radius: 1em;
    margin: 10px;
}
